# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Build output (si usás alguna carpeta de build)
dist/
build/

# Otros archivos temporales
*.tmp
*.temp
