<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Ecommerce Bicicletas</title>
    <link rel="stylesheet" href="/css/global.css" />
    {{{styles}}} 
</head>

<body data-page="{{page}}">
    {{ navbar }}
    {{{body}}}
</body>

</html>
